<div class="container">
    <div class="row">
        <div class="newest"></div>
        <div class="oldest"></div>
        <div> highprice</div>
        <div>lower price</div>

        <h1>Introduction</h1>
        <% if  @hmtml %>
            <h4>HTML</h4>
            <% end %>


                <h2>variables</h2>

                <h4>lorem 1</h4>
                <h4>lorem2 </h4>
                <h4>lorem 5</h4>
    </div>

    <ul class="list-margin">
        <li></li>
    </ul>
</div>