<div class="container">
    <div class="row">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
</div>
<div class=" container jumbotron jum-b">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>KidsDev is a creative computing platform where millions of kids have learned to program and built games, apps and more. KidsDev offers self-paced online courses for children to learn coding at home, as well as an engaging programming curriculum
            for schools.</p>

    </div>
</div>


<style>
    .nav {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .jum-b {
        background-color: #03a9f4;
        background-image: url(/assets/kidscoding.jpg);
    }
    
    .jumbotron h1 {
        color: #FFF;
        text-shadow: 1px 1px #000, 2px 2px #000;
    }
    
    .jumbotron p,
    small {
        color: #FFF;
    }
    
    em {
        color: #000000;
        text-shadow: 1px 1px #FFF, 2px 2px #FFF;
    }
</style>