<h1>These are the available Books.</h1>

<ul>
  <% @books.each do |book| %>
    <li style="font-size: 20px"><strong><%= link_to book.title, book_path(book) %></strong></li>
  <% end %>
</ul>

<br>
<h2>Add a book.</h2>
<%= link_to "New Book", new_book_path %>
