<div class="container">

<h1>These are the available Books.</h1>
<div class="row">
  <% @books.each do |book| %>
  <div class="col-md-4 portfolio-item">
    <p>
      <img src="<%= book.image %>" alt="No images available" width="290px" height="200px">
    </p>
    <h3>
      <%= link_to book.title, book_path(book) %>
    </h3>
  </div>
  <% end %>
</div>

<ul></ul>
<br>
<h2>Add a book.</h2>
<%= link_to "New Book", new_book_path %>
</div>
