<!DOCTYPE html(lang='en')>

<head>
    <title>Question Editor</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <style type="text/css" media="screen">
        #editor {
            height: 500px;
        }
    </style>
</head>

<body style="overflow:hidden">
    <div class="column">
        <div class="col-md-4">
            <h1>hi there</h1>
        </div>
        <div class="col-md-8">
            <h1>Practice</h1>
            <div id="editor" class="col-md-8"></div>
            <div id="result" class="col-md-4">
                <div class="form-group">
                    <label></label>
                    <select id="languageSelector" onchange="changeLanguage()" name="lang" required="required" class="form-control languageSelector">
            <option value="1">C </option>
            <option value="2">C++ </option>
            <option value="9">C# </option>
            <option value="3">Java</option>
            <option value="20">Javascript </option>
            <option value="5" selected="selected">Python </option>
         </select>
                </div>
                <div id="compile">
                    <div id="compileResponse"><textarea placeholder="Provide your input here each seperated by a new line." class="customInput"></textarea></div>
                    <div id="compileButton"><button class="compileButton">COMPILE & RUN</button></div>
                </div>
                <div id="run">
                    <div id="runResponse" style="height:300px;"> </div>
                    <div id="submitButton"><button disabled="disabled" class="submitButton">YOUR OUTPUT</button></div>
                </div>
                <div id="submit"></div>
            </div>
        </div>
    </div>
    <script src="/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.setFontSize(16);
        editor.getSession().setMode("ace/mode/python");
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/compile.js"></script>
    <style>
        body {
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        
        #message {
            border: 1px solid red;
        }
        
        #result {
            height: 100%;
            background-color: #272822;
            border-left: 1px solid #676861;
        }
        
        #compile {
            position: relative;
            height: 30%;
            margin: 0.5rem;
            background-color: white;
            border: 1px solid #676861;
        }
        
        #run {
            position: relative;
            height: 61%;
            margin: 0.5rem;
            background-color: white;
            border: 1px solid #676861;
        }
        
        #compileButton {
            position: absolute;
            bottom: 0;
            height: 3rem;
            width: 100%;
            background-color: blue;
        }
        
        #submitButton {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3rem;
            background-color: blue;
        }
        
        #runResponse {
            position: relative;
            height: 91%;
            margin: 0.5rem;
            background-color: white;
            border: 1px solid #676861;
            padding: 1rem;
            min-width: 97%;
            max-width: 97%;
        }
        
        #compileResponse {
            position: relative;
            height: 84%;
            margin: 0.5rem;
            max-width: 100%;
            background-color: white;
            border: 1px solid #676861;
            padding: 1rem;
        }
        
        .compileButton {
            width: 100%;
            color: white;
            height: 3rem;
            font-weight: bold;
            background-color: #EC625F;
        }
        
        .customInput {
            padding: 1rem;
        }
        
        .submitButton {
            width: 100%;
            color: white;
            height: 3rem;
            font-weight: bold;
            background-color: #AB1212;
        }
        
        .questionContainer {
            margin-top: 50px;
            border: 1px solid black;
        }
        
        .questionContainer .title {
            border-bottom: 1px solid black;
        }
        
        .questionContainer .content {
            padding-bottom: 20px;
            border-bottom: 1px solid black;
        }
        
        .customInput {
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
        
        .text {
            font-size: 17px;
        }
        
        a {
            text-decoration: none !important;
            color: #00B7FF;
        }
        
        .branch {
            margin-left: 5px;
        }
        
        .year {
            margin-left: 5px;
        }
        
        .project-name {
            padding: 0px 5px;
        }
        
        .outer {
            position: relative;
            margin: 0 auto;
        }
        
        img {
            opacity: 0.8;
            z-index: -1;
            -webkit-transition: opacity 0.3s;
            min-width: 150px;
            min-height: 150px;
        }
        
        .innnerBox {
            opacity: 0;
            -webkit-transition: opacity 0.3s, bottom 0.3s;
            position: absolute;
            bottom: 0px;
            left: 7px;
            color: black;
            background-color: white;
            border: 1px solid grey;
        }
        
        .outer:hover .innnerBox {
            opacity: 1;
            bottom: 7px;
        }
        
        .outer:hover img {
            opacity: 1;
        }
        
        .floating-box {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 10px;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        @media screen and (max-width: 489px) {
            img {
                height: 300px;
                width: 300px;
            }
        }
        
        @media screen and (max-width: 744px) {
            .heading p {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
        
        @media screen and (max-width: 744px) {
            .heading p {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
        
        @media screen and (max-width: 300px) {
            .heading p {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>

    <script>
        $(document).ready(function() {




            $('.compileButton').on('click', function() {
                var editor = ace.edit("editor");
                if ($('.languageSelector').val() == "") {
                    alert("Please select a language");
                } else if (editor.getValue() == "") {
                    alert("cannot compile empty source");
                } else {
                    $("#runResponse").html("");
                    $("#runResponse").html("Compiling... Please Wait");
                    var testCases = [];
                    testCases[0] = $('.customInput').val();


                    if (testCases.length == -1) {
                        testCases.push(" ");
                    }

                    var config = {
                        source: editor.getValue(),
                        input: JSON.stringify(testCases),
                        language: $('.languageSelector').val()
                    };


                    var data = "[{'api-key':'hackerrank|2759202-1877|824f42488b7d9c61df3bb3bb333cc808a7515fdb'},{'lang':config.language},{'testcases':'[' ']'},{'source':config.source},{'wait':true}]"

                    $.ajax({
                        type: 'POST',
                        url: 'http://api.hackerrank.com/checker/submission.json',
                        data: config,
                        crossDomain: true,
                        dataType: 'json',
                    }).done(function(data) {
                        data = JSON.parse(data);
                        var str = (data.result.compilemessage).toString();
                        str = decodeURIComponent(escape(str));



                        $("#runResponse").html("");
                        if (str == "") {
                            $("#runResponse").html("Compile Message: Compilation Successful <br><br>");
                            $("#runResponse").append("Output: <br>");

                            (data.result.stdout).forEach(function(item, index) {
                                $("#runResponse").append(data.result.stdout[index] + "<br>");

                            });
                        } else {
                            $("#runResponse").html("Compile Message: " + str + "<br><br>");
                        }





                    });
                }
            });



        });

        function changeLanguage() {
            var language = document.getElementById('languageSelector').value;
            var langCode;
            switch (language) {
                case "1":
                    langCode = "c_cpp";
                    break;
                case "2":
                    langCode = "c_cpp";
                    break;
                case "9":
                    langCode = "csharp";
                    break;
                case "3":
                    langCode = "java";
                    break;
                case "20":
                    langCode = "javascript";
                    break;
                case "5":
                    langCode = "python";
                    break;
            }
            var lang = {
                langCode: langCode
            };

            window.location.href = '/changelang/' + langCode + '/' + language;

        }
    </script>
</body>