/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#first {
  display: inline-flex;
  align-items: stretch;
}

#carousel-home {
  align-content: center;
}

#advert {
  background-color: darkcyan;
  padding: 20px;
  height: 426px;
  font-family: 'Baloo Tammudu', cursive;
}

#myCarousel {}

#empower {
  display: inline-flex;
}

#empowerment {
  height: 482px;
  font-family: 'Baloo Tammudu', cursive;
}

#empower1 {
  background-color: darkorange;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-border-top: 4px !important;
  -moz-border-top: 4px !important;
  border-top: 4px !important;
  -webkit-border-bottom: 4px !important;
  -moz-border-bottom: 4px !important;
  border-bottom: 4px !important;
  color: white;
  text-align: center;
  margin: 2px;
  height: 115px;
  width: 128px;
}

#empower2 {
  background-color: lightseagreen;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-border-top: 4px !important;
  -moz-border-top: 4px !important;
  border-top: 4px !important;
  -webkit-border-bottom: 4px !important;
  -moz-border-bottom: 4px !important;
  border-bottom: 4px !important;
  color: white;
  border: 2px;
  text-align: center;
  margin: 2px;
  height: 115px;
  width: 128px;
}

#empower3 {
  background-color: crimson;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-border-top: 4px !important;
  -moz-border-top: 4px !important;
  border-top: 4px !important;
  -webkit-border-bottom: 4px !important;
  -moz-border-bottom: 4px !important;
  border-bottom: 4px !important;
  color: white;
  text-align: center;
  margin: 2px;
  height: 115px;
  width: 128px;
}

#empower4 {
  background-color: salmon;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-border-top: 4px !important;
  -moz-border-top: 4px !important;
  border-top: 4px !important;
  -webkit-border-bottom: 4px !important;
  -moz-border-bottom: 4px !important;
  border-bottom: 4px !important;
  color: white;
  text-align: center;
  margin: 2px;
  height: 115px;
  width: 128px;
}

#empower5 {
  background-color: sandybrown;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-border-top: 4px !important;
  -moz-border-top: 4px !important;
  border-top: 4px !important;
  -webkit-border-bottom: 4px !important;
  -moz-border-bottom: 4px !important;
  border-bottom: 4px !important;
  color: white;
  border: 2px;
  text-align: center;
  margin: 2px;
  height: 115px;
  width: 128px;
}

#empower6 {
  background-color: limegreen;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-border-top: 4px !important;
  -moz-border-top: 4px !important;
  border-top: 4px !important;
  -webkit-border-bottom: 4px !important;
  -moz-border-bottom: 4px !important;
  border-bottom: 4px !important;
  color: white;
  text-align: center;
  margin: 2px;
  height: 115px;
  width: 128px;
}

#about {
  background-image: url(https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F18%2F14%2F52%2Frainbow-772324_960_720.png&f=1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 542px;
  text-align: center;
}

#aboutColor {
  background-color: mediumseagreen;
  width: 1350px;
}

.about {
  text-align: center;
  /*width: 544px;*/
  padding-left: 250px;
  padding-right: 250px;
}

.black {
  color: black;
}

.white {
  color: white
}

#aboutImage {
  width: 540px;
  height: 350px;
  padding-top: 20px;
}
