// #logo
//   height: 100%
//   width: 100%
#wrap-head {
    height: 100vh;
    // background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.7) 0%, skyblue 100%);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #555;
    background: url("https://d13yacurqjgara.cloudfront.net/users/43762/screenshots/1438974/ng-colab-space_night.gif");
    background-size: cover;
    overflow: hidden;
}

#logocontainer {
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40%;
    position: absolute;
}

#terminal {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 47%;
    width: 35%;
    height: 50%;
    transform: translate(-50%, -50%);
}

#html5 {
    margin: 0;
    position: absolute;
    top: 27%;
    left: 25%;
    width: 5%;
    transform: translate(-50%, -50%);
}

#css3 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 15%;
    width: 5%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

#sass {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 5%;
    transform: translate(-50%, -50%);
}

#js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 5%;
    transform: translate(-50%, -50%);
}

#php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 5%;
    transform: translate(-50%, -50%);
}

#Retina1,
#Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
}

@keyframes blink {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    1% {
        transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
        transform: scaleX(1) scaleY(1);
    }
    60% {
        transform: scaleX(1) scaleY(1)
    }
    61% {
        transform: scaleX(1.3) scaleY(0.1)
    }
    62% {
        transform: scaleX(1) scaleY(1)
    }
    100% {
        transform: scaleX(1) scaleY(1)
    }
}

#sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 20%;
    width: 20%;
    transform: translate(-50%, -50%);
    z-index: -5;
}

#retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 20%;
    width: 20%;
    z-index: -4;
    transform: translate(-50%, -50%);
}

// #### Terminal styling  ##########
.window {
    width: 450px;
    height: 250px;
    background-color: rgba(37, 37, 37, .85);
    border: 1px solid #c9c9c9;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .2);
    transition: all ease-in-out .3s;
}

.window.window--maximized {
    width: 100%;
    flex-grow: 1;
}

.window.window--minimized {
    height: 25px;
    width: 180px;
    .window-content {
        display: none;
    }
}

.window.window--destroyed {
    opacity: 0;
    width: 0;
    height: 0;
}

.window-header {
    background-color: #eee;
    height: 25px;
}

.window-controls {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.window-controls .control-item {
    width: 25px;
    height: 25px;
    text-align: center;
    color: #333;
    transition: all ease-in .15s;
    cursor: pointer;
    &:hover {
        background-color: #ccc;
    }
}

.control-item.control-close {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    &:hover {
        background-color: #ec6060;
        color: #fff;
    }
}

.control-item.control-maximize {
    line-height: 19px;
}

.control-item.control-minimize {
    line-height: 22px;
}

.window-cursor {
    display: flex;
    margin: 5px;
    .i-cursor-indicator {
        color: #fff;
        font-size: 1em;
        font-family: 'Consolas', monospace;
        margin: 0 2px 0 5px;
    }
    .i-cursor-underscore {
        width: 10px;
        height: 3px;
        background-color: #fff;
        align-self: flex-end;
        margin-right: 5px;
        animation: blink 1s steps(2, start) infinite;
    }
}

.window-input {
    background-color: inherit;
    border: none;
    outline: 0;
    color: transparent;
    text-shadow: 0 0 0 #fff;
    font-family: 'Consolas', monospace;
    flex: 1;
    &:focus {
        outline: none;
    }
}

.i-prompt {
    width: 62px;
    height: 62px;
    background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/terminal-48.png") no-repeat center;
    background-color: rgba(0, 0, 0, .35);
    border-radius: 10px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: all ease-in-out .15s;
    &:hover {
        background-position: center 4px;
    }
}

.i-prompt.hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

// ####### End terminal #######3
// #### jumbotron #######
.jumbotron-billboard .img {
    margin-bottom: 0px;
    // margin-left: -1.2%;
    opacity: 10;
    color: black;
    background: #000 url("/assets/kidscoding.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // background: #0cebeb;
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    position: relative;
    padding: 50px;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
    z-index: 2;
}

// ### end jumbotron #######