<div class="container">
    <div class="row">
        <div class="newest"></div>
        <div class="oldest"></div>
        <div> highprice</div>
        <div>lower price</div>
    </div>

    <ul class="list-margin">
        <li></li>
    </ul>
</div>