<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
<footer>
  <section class="nb-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-single">
            <!-- 	<img src="images/logo.png" class="img-responsive" alt="Logo"> -->

            <!-- This is only for better view of theme if you want your image logo remove div dummy-logo bellow and replace your logo in logo.png and uncomment logo tag above-->
            <div class="dummy-logo">
              <div class="icon pull-left brand">
                <i class="fa fa-copy"></i>
              </div>
              <h2>Lorem Ipsum</h2>
              <p>Another responsive footer</p>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis diam, vulputate in risus eu, porttitor condimentum purus. Phasellus ullamcorper, odio id feugiat bibendum.</p>
            <a href="" class="btn btn-footer">Read More</a>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-single useful-links">
            <div class="footer-title">
              <h2>Navigation</h2>
            </div>
            <ul class="list-unstyled">
              <li>
                <a href="?">Home
                  <i class="fa fa-angle-right pull-right"></i>
                </a>
              </li>
              <li>
                <a href="/about">About Us
                  <i class="fa fa-angle-right pull-right"></i>
                </a>
              </li>
              <li>
                <a href="/lessons">Lessons
                  <i class="fa fa-angle-right pull-right"></i>
                </a>
              </li>
              <li>
                <a href="/contacts">Contact Us
                  <i class="fa fa-angle-right pull-right"></i>
                </a>
              </li>
            </div>
          </div>
          <div class="clearfix visible-sm"></div>

          <div class="col-md-3 col-sm-6">

            <div class="col-sm-12 left-clear right-clear footer-single footer-project">
              <div class="footer-title">
                <h2>Latest Projects</h2>
              </div>
              <div class="col-xs-4">
                <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
              </div>
              <div class="col-xs-4">
                <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
              </div>
              <div class="col-xs-4">
                <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-4">
                <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
              </div>
              <div class="col-xs-4">
                <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
              </div>
              <div class="col-xs-4">
                <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
              </div>

            </div>

          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-single">
              <div class="footer-title">
                <h2>Contact Information</h2>
              </div>
              <address>
                999, Holly Eiusmod Tempor, City<br>
                Your State, Country
                <br>
                <i class="fa fa-phone"></i>
                987 654 3210
                <br>
                <i class="fa fa-fax"></i>
                012 123 2345<br>
                <i class="fa fa-envelope"></i>
                info@example.com<br>
              </address>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="nb-copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 copyrt xs-center">
            2015 © All Rights Reserved.
            <a href="">Terms & Conditions</a>
            |
            <a href="">Privacy Policy</a>
          </div>
          <div class="col-sm-6 text-right xs-center">
            <ul class="list-inline footer-social">
              <li>
                <a href="https://github.com/newtonkiragu/kidzdev" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-skype"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <style media="screen">
    .nb - footer {
      background: #272727;
      margin: 60 px;
      padding: 30 px;
    }
    .nb - footer.footer - single {
      margin: 30 px;
    }
    .nb - footer.footer - title {
      display: block;
      margin: 10 px 0 25 px 0;
      border - bottom: 1 px dotted #e4e9f0;
    }
    .nb - footer.footer - single a {
      text - decoration: none;
    }
    .nb - footer.footer - single h2 {
      color: #eee;
      font - size: 18 px;
      font - weight: 200;
      display: inline - block;
      border - bottom: 2 px solid #7BFF00;
      padding: 5 px;
      margin: -2 px;
    }
    .nb - footer.footer - single li {
      border - top: solid 1 px #353535;
    }
    .nb - footer.footer - single li:first - child {
      border - top: none;
    }
    .nb - footer.footer - single li a {
      color: #979797;
      font - size: 12 px;
      padding: 6 px 0;
      display: block;
      transition: all 0.4 s ease - in - out;
    }
    .nb - footer.footer - single li a:hover {
      color: #7BFF00;
    }
    .nb - footer.footer - single li a:hover i {
      color: #7BFF00;
    }
    .nb - footer.dummy - logo {
      margin: 11 px;
      padding: 9 px;
    }
    .nb - footer.dummy - logo.icon {
      margin: 10 px;
      border - radius: 20 px;
      margin: 24 px;
    }
    .nb - footer.brand {
      background: #7BFF00;
    }
    .nb - footer.dummy - logo i {
      font - size: 50 px;
      color: #fff;
      padding: 5 px;
    }
    .nb - footer.dummy - logo p {
      color: #999;
      font - size: 12 px;
    }
    .nb - footer.dummy - logo h2 {
      font - size: 24 px !important;
      border - bottom: none;
      color: #696969;
      padding: 5 px 0;
    }
    .nb - footer.btn - footer {
      border: 1 px solid #7BFF00;
      margin: 10 px;
      color: #999;
    }
    .nb - footer.btn - footer:hover {
      background: #7BFF00;
      color: #fff;
      transition: all 0.4 s ease - in - out;

    }
    .nb - footer.useful - links li a {
      text - transform: uppercase;
    }
    .nb - footer.footer - project a {
      font - size: 13 px;
    }
    .nb - footer.footer - project img {
      margin: 20 px;
      border: 1 px solid #666;
      border - radius: 6 px;
      padding: 1 px;
      opacity: 0.7;
      transition: all 0.4 s ease - in - out;
    }
    .nb - footer.footer - project img:hover {
      opacity: 1.0;
      cursor: pointer;
    }
    .nb - footer.footer - project.footer - title {
      margin: 0;
    }
    .footer - single address,
    .nb - footer.footer - single p {
      color: #979797;
      font - size: 14 px;
      margin: 5 px;
      line - height: 22 px;
    }
    .nb - copyright {
      background: #171717;
      padding: 10 px;
    }
    .nb - copyright.copyrt {
      margin: 22 px;
      font - size: 14 px;
    }
    .nb - copyright.copyrt a {
      color: #7BFF00;
    }
    .nb - copyright.footer - social {
      margin: 10 px;
    }
    .nb - copyright.footer - social i {
      padding: 5 px 10;
      color: #999;
      border: 1 px solid #333;
      margin: 10 px;
      font - size: 20 px;
      border - radius: 5 px;
      transition: all 0.4 s ease - in - out;
    }
    .nb - copyright.footer - social i:hover {
      background: #7BFF00;
      color: #fff;
    }
    .nb - copyright.footer - social.fa - facebook {
      padding: 5 px 14;
    }
    @media(max - width : 767 px) {
      .xs - center {
        text - align: center;
      }
      .left - clear {
        padding: 0;
      }
      .right - clear {
        padding: 0;
      }
    }

  </style>
