<!DOCTYPE html>
<html>

<head>
    <title>Kidzdev</title>
    <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css">
                <link href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css" rel="stylesheet">

</head>

<body>
    <%= yield %>
</body>

</html>